form #edit-cancel {
  background: none;
  border: none;
  border-radius: 0;
}

form #edit-cancel:active,
form #edit-cancel:focus,
form #edit-cancel:hover {
  cursor: pointer;
  text-decoration: underline;
}

form#system-setup-theme-form-callback #edit-theme {
  height: 290px;
  overflow-x: auto;
  overflow-y: hidden;
  text-align: center;
  white-space: nowrap;
}

form#system-setup-theme-form-callback #edit-theme .form-item-theme {
  display: inline-block;
  margin: 10px;
  position: relative;
  zoom: 1;
}

form#system-setup-theme-form-callback #edit-theme .form-item-theme input {
  left: 5px;
  position: absolute;
  top: 5px;
}
