/**
 * Reset css.
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
input,
select,
textarea,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
/* Drupal: system-menus.css */
td.menu-disabled,
ul.links,
ul.links.inline,
ul.links li,
.block ul,
/* Drupal: admin.css */
div.admin,
/* Drupal: system.css */
tr.even,
tr.odd,
tr.drag,
tbody,
tbody th,
thead th,
.breadcrumb,
.item-list .icon,
.item-list .title,
.item-list ul,
.item-list ul li,
ol.task-list li.active,
.form-item,
tr.odd .form-item,
tr.even .form-item,
.form-item .description,
.form-item label,
.form-item label.option,
.form-checkboxes,
.form-radios,
.form-checkboxes .form-item,
.form-radios .form-item,
.marker,
.form-required,
.more-link,
.more-help-link,
.item-list .pager,
.item-list .pager li,
.pager-current,
.tips,
ul.primary,
ul.primary li,
ul.primary li a,
ul.primary li.active a,
ul.primary li a:hover,
ul.secondary,
ul.secondary li,
ul.secondary a,
ul.secondary a.active,
.resizable-textarea {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/**
 * Generic elements.
 */
body {
  background: #FFF;
  color: #000;
  font: normal 81.3%/1.538em "Lucida Grande", "Lucida Sans Unicode", sans-serif !important;
}

a {
  color: #0074BD;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code, pre, kbd {
  font-size: 1.231em;
}

dl {
  margin: 0 0 20px;
}

dl dd, dl dl {
  margin-left: 20px;
  margin-bottom: 10px;
}

h1, h2, h3,
body h1, body h2, body h3 {
  color: #333 !important;
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif !important;
  font-weight: bold !important;
  margin: 10px 0 !important;
}

h2, body h2 {
  font-size: 1.385em;
}

h3, body h3 {
  font-size: 1.231em;
}

p {
  margin: 1em 0 !important;
}

quote, code {
  margin: .5em 0;
}

.form-item {
  padding: 9px 0;
  margin: 0 0 10px;
}

.form-item label {
  margin: 0;
  padding: 0;
}

.form-item label.option {
  font-size: 0.923em;
  text-transform: none;
}

/* Setup theming */
#page {
  color: #333;
}

#branding {
  background-color: #E0E0D8;
  overflow: hidden;
  padding: 20px 20px 0 20px; /* LTR */
  position: relative;
}

#branding h1 {
  color: #000;
  float: none;
  font-size: 1.385em;
  font-weight: normal !important;
  margin: 0 auto !important;
  padding-bottom: 10px;
  width: 770px;
}

#content {
  clear: none;
  margin: 0 auto;
  padding: 2em 20px 0 200px;
  position: relative;
  width: 550px;
}

#content form {
  position: relative;
}

#content form fieldset {
  border: 1px solid #CCC;
  margin: 1em 0;
  padding: 2.5em 0 0 0;
  position: relative;
}

#content form fieldset legend {
  font-weight: bold;
}

#content form fieldset legend .fieldset-legend {
  margin-top: 0.5em;
  padding-left: 15px;
  position: absolute;
  text-transform: uppercase;
}

#content form fieldset .fieldset-wrapper {
  padding: 0 13px 13px 15px;
}

#content form .form-item label {
  color: #333;
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif !important;
  font-weight: bold;
}

#content form .form-item .description {
  color: #666;
  font-size: 0.9231em;
  line-height: 1.1667em;
  margin: 5px 0;
}

input.form-autocomplete, input.form-text, input.form-file, textarea.form-textarea, select.form-select {
  background: white !important;
  border: 1px solid #CCC !important;
  border-top-color: #999 !important;
  color: #333 !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 0.8466em !important;
  padding: 2px !important;
}

#content form .form-submit {
}

#content form #edit-cancel {
  color: #0074BD;
  float: right;
  font-size: 1em;
  font-weight: normal;
  margin-top: 1em;
}

.page-setup-skip #content form #edit-cancel {
}

#content form #edit-theme .form-type-radio {
  width: 294px;
}

#content form #edit-theme {
  height: 219px;
  margin: 20px;
  text-align: left;
}

#content form #edit-theme .form-type-radio {
  background-color: #FFF;
  height: 219px;
  margin: 0;
  width: 510px;
}

#content form #edit-theme.jquery-cycle .form-type-radio .form-radio {
  display: none;
}

#content form #edit-theme .form-type-radio img {
  float: left;
  margin-right: 20px;
}

#content form #edit-theme .form-type-radio h3 {
  margin-top: 0 !important;
}

#content form #edit-theme .form-type-radio .description {
  font-weight: normal;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word;
}

#content form #cycle-nav {
  height: 219px;
  position: absolute;
  top: 0;
  width: 550px;
}

#content form #cycle-prev,
#content form #cycle-next {
  background-image: url('images/task-item-rtl.png');
  background-position: 6px 105px;
  background-repeat: no-repeat;
  float: left;
  height: 219px;
  width: 20px;
}

#content form #cycle-next {
  background-image: url('images/task-item.png');
  float: right;
}

#content form #edit-next,
#content form #edit-previous,
#content form #edit-return,
#content form #edit-submit {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  background: url('images/buttons.png') 0 0 repeat-x;
  border: 1px solid #E4E4E4;
  border-bottom: 1px solid #B4B4B4;
  border-left-color: #D2D2D2;
  border-radius: 20px;
  border-right-color: #D2D2D2;
  color: #5A5A5A;
  cursor: pointer;
  font-size: 1.077em;
  font-family: "Lucida Grande", Verdana, sans-serif;
  font-weight: normal;
  margin-bottom: 1em;
  margin-right: 1em;
  padding: 4px 17px;
  text-align: center;
}

#content form #edit-next:active,
#content form #edit-previous:active,
#content form #edit-return:active,
#content form #edit-submit:active {
  background: #666;
  border-color: #555;
  color: #FFF;
  text-shadow: #222 0 -1px 0;
}

#content form #edit-previous {
}

.page-setup-skip #content form #edit-submit {
}

#content form#system-setup-theme-form-callback #edit-theme {
}

#steps {
  background-image: url('images/logo.png');
  background-repeat: no-repeat;
  left: 0;
  list-style-type: none;
  list-style-image: none;
  margin: 0 0 0.25em 0;
  padding-top: 127px;
  position: absolute;
  top: 2em;
  width: 200px;
}

#steps li {
  color: #ADADAD;
  padding: 0.5em 1em 0.5em 20px;
  margin: 0;
}

#steps li.active {
  background: transparent url('images/task-item.png') no-repeat 3px 50%;
  color: #000;
  font-weight: bold;
}

#steps li.done {
  background: transparent url('images/task-check.png') no-repeat 0 50%;
  color: green;
}
